.logo_container {
  width: 257px;
  height: 60px;
  padding: 17px 0px 3px 0px;
  background-color: white;
}
.logo_container h1 {
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  color: #ff8500;
}
.Logo {
  background-color: #ff8500;
  color: red;
  width: 500px;
}
.Logo:hover {
  background-color: green;
}
