.card_container {
  max-width: 355px;
}
.card_inner {
  border: none;
  background-color: #faf9f6;
  padding: 20px;
  border-radius: 21px;
}
.card_inner h4 {
  color: #4a4a4a;
  font-weight: 600;
  font-size: 13px;
}
.card_inner p {
  text-align: left;
  color: #4a4a4a;
}
.inputWidth {
  background-color: #d1d2d3;
  border-radius: 12px;
  height: 48px;
}
.form_Inputdiv label {
  line-height: 1.5;
  margin-bottom: 10px;
  color: #abb2b8;
  font-size: 12px;
}
.inputWidth::placeholder {
  color: white;
  font-size: 12px;
}
.cardButtonBack {
  background-color: #d1d2d3;
  width: 153px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 8px;

  color: white;
  border: 1px solid #999999;
}
.cardButtonContinue {
  background-color: #a1e8a1;

  width: 153px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 8px;

  color: white;
}
