.user-icon-container {
  width: 150px;
  height: 150px;
  /* background-color: blue; */
  margin-right: 80px;
}

.user-icon {
  width: 150px;
  height: 150px;
}

.add-icon {
  width: 30px;
  height: 30px;
  bottom: 15px;
  left: 120px;
}
