@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

/* Global Reset and Box Sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* body {
  font-family: "Inter", sans-serif;
} */
.react-calendar__tile {
  background-color: white;
  padding: 2px;
  border: none;
  border: 0.5px solid #828282;
  margin: 1px;
}

.react-calendar__tile--active {
  background-color: green; /* Background color for the active tile */
  color: white; /* Text color for the active tile */
}

.react-calendar__tile--hasActive {
  border: 1px solid green; /* Border for tiles with active content */
}

.react-calendar__month-view__days__day {
  color: #333; /* Text color for day numbers */
  font-size: 14px; /* Font size for day numbers */
}

.react-calendar__tile:hover {
  background-color: #c90e0e; /* Hover effect for tiles */
}
.react-calendar__navigation__label {
  border: none;
  background-color: unset;
}

.react-calendar__navigation__next-button {
  border: none;
  margin-left: 30px;
}
.react-calendar__navigation__arrow {
  border: none;
  margin-right: 30px;
}
.react-calendar__navigation__next2-button {
  display: none;
  border: none;
}
.react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar__month-view__days {
  /* justify-content: center; */
}
.react-calendar__navigation {
  /* background-color: #c90e0e; */
  font-size: 13px;
  padding: 10px;
  border-bottom: 1px solid #828282;
}
.react-calendar__month-view__weekdays__weekday {
  font-size: 10px;
  color: black;
}

/* Align Weekdays and Remove Dotted Line Under Days */
.react-calendar__month-view__weekdays__weekday {
  /* font-size: 14px;
  color: #c90e0e;
  text-align: center;
  padding: 10px 0;
  border-bottom: none;
  background-color: #333; */
}
